.available-cars-list-container {
  display: flex;
  flex-flow: column;

  background-image: radial-gradient(circle at top left, black, gray, white);
  overflow: auto;
  height: calc(100% - 50px);

  .top-row {
    padding: 10px;
    font-family: 'IstokWeb-Bold', sans-serif;

    .text-container {
      padding: 5px;

      .page-title {
        font-size: 40px;
        font-weight: bold;
        color: white;
      }

      .filter-information {
        margin-top: 10px;

        table {
          background: #fafafa;
          border-radius: 10px;
          font-size: 1.1rem;
          text-align: left;
          border-collapse: collapse;

          .bold {
            font-weight: bold;
          }

          th,
          td {
            border: #6e6e6e solid 1px;
            border-top: none;
            border-left: none;
            padding: 10px;
          }

          td {
            border-right: none;
          }

          tr:last-child {
            td,
            th {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .bottom-row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;

    .search-container {
      width: fit-content;
      margin: auto;
      padding: 10px;

      input {
        padding: 15px 60px;
        font-family: 'IstokWeb-Regular', sans-serif;
        font-size: 14px;

        border-radius: 10px;
        border: 1px solid lightgray;
      }

      .location-container {
        display: flex;
        margin-bottom: 10px;

        .location-label {
          display: flex;
          justify-content: center;
          align-items: center;

          min-width: fit-content;

          border: 1px solid #ababab;

          padding: 10px;
          background: #ffffff;
          font-weight: bold;

          border-radius: 10px 0 0 10px;
        }

        input {
          width: 100%;

          font-size: 16px;
          padding: 15px 20px;
          border-radius: 0 10px 10px 0;

          border: 1px solid #ababab;

          background: #ffffff;
        }
      }

      .date-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        > * {
          margin-right: 7px;
        }
      }
    }

    .no-available-cars-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .message {
        font-size: 22px;
      }

      .rental-creation-link-button {
        margin-top: 30px;

        a {
          font-family: 'IstokWeb-Bold', sans-serif;
          font-weight: bold;
          font-size: 16px;

          padding: 15px;
          text-decoration: none;
          border-radius: 10px;
          background: #222;
          color: #fff;

          &:hover {
            background: #000;
          }
        }
      }
    }

    .available-cars-container {
      display: flex;
      flex-direction: column;

      overflow-x: scroll;

      width: 100%;

      table {
        background: #fafafa;
        border-radius: 10px;
        font-size: 1.1rem;
        text-align: center;
        border-collapse: collapse;

        tr {
          border-bottom: #989898 solid 1px;

          th,
          td {
            padding: 5px;
          }

          th {
            text-transform: uppercase;
            color: #8f8f8f;
          }

          .available-car-img {
            width: 100px;
            margin: auto;

            > img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .rental-car-button {
            flex: 1;
            width: 100%;

            button {
              background: #4e4e4e;
              width: 100%;
            }

            button:hover {
              background: #0e0e0e;
            }
          }
        }

        tr:first-child {
          border-bottom: #868686 solid 2px;
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
