.list-car-rentals-container {
  display: flex;
  flex-flow: column;
  flex: 1;

  background-image: radial-gradient(circle at top left, black, gray, white);
  overflow: auto;
  height: calc(100% - 50px);

  .top-row {
    padding: 10px;
    font-family: 'IstokWeb-Bold', sans-serif;
    display: flex;
    justify-content: space-between; // Elemente horizontal verteilen

    .text-container {
      padding: 5px;

      .page-title {
        font-size: 40px;
        font-weight: bold;
        color: white;
      }
    }
  }
  .bottom-row {
    display: flex;
    flex: 1;
    padding: 10px;

    .no-rentals-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .message {
        font-size: 22px;
      }
    }

    .car-rentals-container {
      display: flex;
      flex-direction: column;

      overflow-x: scroll;

      width: 100%;

      table {
        background: #fafafa;
        border-radius: 10px;
        font-size: 1.1rem;
        text-align: center;
        border-collapse: collapse;

        tr {
          border-bottom: #989898 solid 1px;

          th,
          td {
            padding: 5px;
          }

          th {
            text-transform: uppercase;
            color: #8f8f8f;
          }

          .rented-car-img {
            width: 100px;
            margin: auto;

            > img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .add-car-button {
            flex: 1;
            width: 100%;

            button {
              background: #4e4e4e;
              width: 100%;
            }

            button:hover {
              background: #0e0e0e;
            }
          }
        }

        tr:first-child {
          border-bottom: #868686 solid 2px;
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
