.background-container {
  justify-content: left;
  background-image: radial-gradient(circle at top left, black, gray, white);
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding: 20px;
}

.fleet-coordination-container {
  margin-left: 20px;
  background-color: snow;
  border-radius: 2px;
  outline: 1px solid black;
  width: 90%;
}

.top-row-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.right {
  display: flex;
  gap: 20px;
}

.left {
  display: flex;
  gap: 20px;
}

.table-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding-left : 5px;
  background-color: whitesmoke;
  border-bottom: 2px lightgray solid;
}

.table th {
  text-align: right;
  padding-left : 5px;
  border-bottom: 2px black solid;
}

.table td, .table th {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.pagination-buttons {
  display: flex;
  justify-content: right;
  padding: 10px;
}

.page-button {
  font-family: Consolas, monospace;
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin : 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-button:hover {
  outline: 1px solid black;
  background-color: lightgray;
  text-decoration: underline;
}

.edit-button {
  color: black;
  background-color: cornflowerblue;
}

.edit-button:hover {
  background-color: dodgerblue;
}

.delete-button {
  color: black;
  background-color: tomato;
}

.delete-button:hover {
  background-color: red;
}

.create-fleet-button {
  color: black;
  background-color: lightgreen;
}

.create-fleet-button:hover {
  background-color: limegreen;
}

.sort-button {
  color: dimgray;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px 9px;
  border: none;
  cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.highlighted {
  background-color: black;
  color: white;
}