<div class="fleet-overview-container">
  <div class="top-row">
    <div class="text-container">
      <div class="page-title">Fleet Overview</div>
    </div>
    <div class="fleet-selector">
      <div class="label">Select Fleet:</div>
      <select class="fleet-select" [(ngModel)]="fleetId" (change)="change()">
        <option *ngFor="let fleet of fleets" [value]="fleet">{{fleet}}</option>
      </select>
    </div>

    <div *ngIf="fleetCars.length != 0">
      <button class="button" (click)="showAddCar()" style="background-color: transparent; font-size: 30px">
        + Add Car
      </button>
    </div>
  </div>
  <div class="bottom-row">
    <div class="no-cars-in-fleet-container" *ngIf="fleetCars.length == 0; else carsInFleetContainer">
      <div class="message">You have no cars added yet.</div>
      <button class="car-addition-link-button" (click)="showAddCar()">Add Car</button>
    </div>

    <ng-template #carsInFleetContainer>
      <div class="cars-in-fleet-container">
        <table>
          <tr>
            <th></th>
            <th>Brand</th>
            <th>Model</th>
            <th>VIN</th>
            <th></th>
          </tr>
          <tr *ngFor="let car of fleetCars">
            <td>
              <div class="rented-car-img">
                <img src="assets/dummycar.png" />
              </div>
            </td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.vin }}</td>

            <td>
              <div class="button-container">
                <button class="view-rentals-button" (click)="viewCarRentals(car.vin)">View Rentals</button>
                <div class="right"><button class="close-button" (click)="removeCar(car.vin)"></button></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </div>
</div>
