.fleet-overview-container {
  display: flex;
  flex-flow: column;
  flex: 1;

  background-image: radial-gradient(circle at top left, black, gray, white);
  overflow: auto;
  height: calc(100% - 50px);

  .top-row {
    padding: 10px;
    font-family: 'IstokWeb-Bold', sans-serif;
    display: flex;
    justify-content: space-between; // Elemente horizontal verteilen

    .text-container {
      padding: 5px;

      .page-title {
        font-size: 40px;
        font-weight: bold;
        color: white;
      }
    }
  }

  .close-button {
    margin-top: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    border-color: red;
    padding: 10px 10px;
    border-radius: 7px;

    max-width: 100px;
    max-height: 100px;

    background-image: url('/assets/delete.png');
    background-size: cover;
  }

  .bottom-row {
    display: flex;
    flex: 1;
    padding: 10px;

    .no-cars-in-fleet-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .message {
        font-size: 22px;
      }

      .car-addition-link-button {
        margin-top: 30px;
        a {
          font-family: 'IstokWeb-Bold', sans-serif;
          font-weight: bold;
          font-size: 16px;

          padding: 15px;
          text-decoration: none;
          border-radius: 10px;
          background: #222;
          color: #fff;

          &:hover {
            background: #000;
          }
        }
      }
    }

    .cars-in-fleet-container {
      display: flex;
      flex-direction: column;

      overflow-x: scroll;

      width: 100%;

      table {
        background: #fafafa;
        border-radius: 10px;
        font-size: 1.1rem;
        text-align: center;
        border-collapse: collapse;

        tr {
          border-bottom: #989898 solid 1px;

          th,
          td {
            padding: 5px;
          }

          th {
            text-transform: uppercase;
            color: #8f8f8f;
          }

          .rented-car-img {
            width: 100px;
            margin: auto;

            > img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .add-car-button {
            flex: 1;
            width: 100%;

            button {
              background: #4e4e4e;
              width: 100%;
            }

            button:hover {
              background: #0e0e0e;
            }
          }
        }

        tr:first-child {
          border-bottom: #868686 solid 2px;
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.button-container {
  display: flex;
  align-items: center;
}

.view-rentals-button {
  background-color: transparent;
  border: none;
  color: #0e0e0e; /* Oder eine andere Farbe deiner Wahl */
  cursor: pointer;
}

.view-rentals-button:hover {
  text-decoration: underline;
}

.fleet-select {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#222;
  color: white;
  border-radius: 10px;
}

.fleet-selector {
  display: flex;
  justify-content: left;
}

.label {
  font-size: 22px;
  font-weight: bold;
  color : white;
  padding: 10px;
  margin-top: 3px;
}
